#pageAuth {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

main {
  flex: 6;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.mainContent {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70%;
  max-width: 320px;
}

.logo {
  margin-bottom: 56px;
}

.mainContent h2 {
  font: 700 24px 'Poppins';
  margin-top: 48px;
  margin-bottom: 16px;
}

.mainContent span {
  font: 400 14px 'Roboto';
  color: #737380;
}

.mainContent a {
  color: #E559F9;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 32px 0;
  color: #A8A8B3;

  width: 100%;
  overflow-x: hidden;
}

.divider::before {
  content: '';
  flex: 1;
  height: 2px;
  margin-right: 8px;
  background: #A8A8B3;
}

.divider::after {
  content: '';
  flex: 1;
  height: 2px;
  margin-left: 8px;
  background: #A8A8B3;
}